<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{employee.FirstName}} {{employee.LastName}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="FirstName">First Name:
                    <span *ngIf="FirstName.errors" class="glyphicon glyphicon-exclamation-sign" data-content="First&nbsp;Name&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="FirstName" type="text" [(ngModel)]="employee.FirstName" name="FirstName" #FirstName="ngModel" required/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="LastName">Last Name:
                    <span *ngIf="LastName.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Last&nbsp;Name&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="LastName" type="text" [(ngModel)]="employee.LastName" name="LastName" #LastName="ngModel" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="Position">Position:</label>
                <select class="form-control" id="Position" [(ngModel)]="employee.Position" name="Position">
                  <option *ngFor="let position of positions" [value]="position._id">{{position.PositionName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="SalaryBonus">Salary Bonus
                    <span *ngIf="SalaryBonus.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Salary&nbsp;Bonus&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input class="form-control" id="SalaryBonus" type="number" [(ngModel)]="employee.SalaryBonus" name="SalaryBonus" #SalaryBonus="ngModel" required />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="AddressStreet">Address (Street):
                    <span *ngIf="AddressStreet.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Street&nbsp;Address&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="AddressStreet" type="text" [(ngModel)]="employee.AddressStreet" name="AddressStreet" #AddressStreet="ngModel" required />
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="AddressCity">Address (City):
                      <span *ngIf="AddressCity.errors" class="glyphicon glyphicon-exclamation-sign" data-content="City&nbsp;is&nbsp;Required"
                      data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                  </label>
                  <input class="form-control" id="AddressCity" type="text" [(ngModel)]="employee.AddressCity" name="AddressCity" #AddressCity="ngModel" required />
                </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="AddressState">Address (State):
                    <span *ngIf="AddressState.errors" class="glyphicon glyphicon-exclamation-sign" data-content="State&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="AddressState" type="text" [(ngModel)]="employee.AddressState" name="AddressState" #AddressState="ngModel" required />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="AddressZip">Address (Zip Code):
                    <span *ngIf="AddressZip.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Zip&nbsp;Code&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="AddressZip" type="text" [(ngModel)]="employee.AddressZip" name="AddressZip" #AddressZip="ngModel" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="PhoneNum">Phone Number:
                    <span *ngIf="PhoneNum.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Phone&nbsp;Number&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="PhoneNum" type="text" [(ngModel)]="employee.PhoneNum" name="PhoneNum" #PhoneNum="ngModel" 
                       required pattern="\+?[]*[1-9]?[]*\-?[]*\(?[]*[1-9][]*(\d[]*){2}\)?[]*\-?[]*(\d[]*){3}-[]*(\d[]*){4}" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="Extension">Extension:
                    <span *ngIf="Extension.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Phone&nbsp;Extension&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <input class="form-control" id="Extension" type="number" [(ngModel)]="employee.Extension" name="Extension" #Extension="ngModel" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="HireDate">Hire Date:</label>
                <input class="form-control" id="HireDate" name="HireDate" type="text" value="{{employee.HireDate | amDateFormat:'LL'}}" readonly 
                />
              </div>
            </div>
          </div>
          <hr />
          <a routerLink="/employees" class="btn btn-warning pull-left">Return to Employee List</a>
          <input type="submit" class="btn btn-primary pull-right" value="Update Employee" [disabled]="!f.valid" />
          <br />
          <br />
        </form>
      </div>
    </div>
    <br />
    <div class="alert alert-success" *ngIf="successMessage">
      <strong>Success!</strong> {{employee.FirstName}} {{employee.LastName}}'s information was successfully saved.
    </div>
  </div>
</div>