<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{position.PositionName}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form #f='ngForm' (ngSubmit)="onSubmit(f)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="PositionName">Position Name:
                    <span *ngIf="PositionName.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Position&nbsp;Name&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
              </label>
                <input class="form-control" id="PositionName" type="text" [(ngModel)]="position.PositionName" name="PositionName" #PositionName="ngModel"
                  required />
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="PositionDescription">Description:
                    <span *ngIf="PositionDescription.errors" class="glyphicon glyphicon-exclamation-sign" data-content="Position&nbsp;Description&nbsp;is&nbsp;Required"
                    data-placement="right" data-toggle="popover" data-trigger="focus"></span>
                </label>
                <textarea class="form-control" id="PositionDescription" rows="5" [(ngModel)]="position.PositionDescription" name="PositionDescription"
                  #PositionDescription="ngModel" required></textarea>
              </div>
            </div>
          </div>
          <hr />
          <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
          <input type="submit" class="btn btn-primary pull-right" value="Update Position" [disabled]="!f.valid"/>
          <br />
          <br />
        </form>
      </div>
    </div>
    <br />
    <div class="alert alert-success" *ngIf="successMessage">
      <strong>Success!</strong> Position: "{{position.PositionName}}" was successfully saved.
    </div>
  </div>
</div>